## Simulación de datos de usuario.

In [2]:
import random as rand
import pandas as pd
import numpy as np
from faker import Faker

In [24]:
fake = Faker('es_ES')

usuarios = []
mentores = []

# Generar datos para 1000 usuarios
for _ in range(1000):
    usuario = {
        'nombre': fake.name().lower(),
        'direccion': fake.address().lower(),
        'correo': fake.email().lower(),
        'telefono': fake.phone_number(),
        'profesion': fake.job().lower(),
        'genero': rand.choices(['masculino', 'femenino', 'intergenero', 'nc'], weights=[0.45, 0.45, 0.05, 0.05])[0],
        'edad': rand.randint(18, 65),
        'password': fake.password(),
        'encuesta': rand.choice(['si', 'no'])
    }
    usuarios.append(usuario)

# Generar datos para 100 mentores
for _ in range(100):
    mentor = {
        'nombre': fake.name().lower(),
        'apellidos': fake.last_name().lower(),
        'correo': fake.email().lower(),
        'telefono': fake.phone_number(),
        'profesion': 'psicológo',
        'genero': rand.choices(['masculino', 'femenino', 'intergenero', 'nc'], weights=[0.45, 0.45, 0.05, 0.05])[0],
        'edad': rand.randint(18, 65),
        'password': fake.password(),
        'eventos': rand.choice(['si', 'no'])
    }
    mentores.append(mentor)

# Convertir las listas en DataFrames
df_usuarios = pd.DataFrame(usuarios)
df_mentores = pd.DataFrame(mentores)

In [25]:
df_usuarios.head()
df_mentores.head()

,nombre,apellidos,correo,telefono,profesion,genero,edad,password,eventos
0,chelo higueras álvarez,franch,vascorojas@example.net,+34 946 32 31 11,psicológo,nc,37,92L8q)jI^v,si
1,cintia lloret anaya,carballo,joaquinachamorro@example.net,+34902 14 17 88,psicológo,masculino,52,JL69xUPf&(,no
2,tecla robles-clemente,mendizábal,wboada@example.org,+34 835 85 36 13,psicológo,masculino,41,1c5WES8j(6,no
3,felicia guardiola,mosquera,cardenaspaulina@example.org,+34887 125 178,psicológo,masculino,31,30TCnOOd!c,si
4,juliana echeverría barceló,salvà,blazquezvidal@example.org,+34971 525 039,psicológo,masculino,58,pq1kK$U4f(,no

In [26]:
encuestas = []
for _ in range(300):
    encuesta = {
        'tristeza': rand.randint(0, 3),
        'pesimismo': rand.randint(0, 3),
        'fracaso': rand.randint(0, 3),
        'perdida_placer': rand.randint(0, 3),
        'culpa': rand.randint(0, 3),
        'castigo': rand.randint(0, 3),
        'disconformidad': rand.randint(0, 3),
        'autocritica': rand.randint(0, 3),
        'suicidio': rand.randint(0, 3),
        'llanto': rand.randint(0, 3),
        'agitacion': rand.randint(0, 3),
        'interes': rand.randint(0, 3),
        'indeciso': rand.randint(0, 3),
        'desvalorizacion': rand.randint(0, 3),
        'energia': rand.randint(0, 3),
        'irritabilidad': rand.randint(0, 3),
        'concentracion': rand.randint(0, 3),
        'cansancio': rand.randint(0, 3),
        'sexo': rand.randint(0, 3)
    }
    encuestas.append(encuesta)

df_encuestas = pd.DataFrame(encuestas)

In [23]:
df_encuestas.head()

,tristeza,pesimismo,fracaso,perdida_placer,culpa,castigo,disconformidad,autocritica,suicidio,llanto,agitacion,interes,indeciso,desvalorizacion,energia,irritabilidad,concentracion,cansancio,sexo
0,1,2,0,3,2,1,0,0,0,1,3,1,3,2,1,2,2,2,1
1,3,3,3,3,1,2,3,3,3,0,1,3,1,2,1,1,2,0,3
2,1,3,0,2,1,2,0,2,0,0,3,0,0,0,3,1,2,1,2
3,3,1,3,2,1,1,2,0,3,1,1,0,2,2,0,3,0,1,3
4,1,3,0,3,2,0,1,1,2,2,3,2,1,3,3,3,1,3,1